@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1.0em;
    text-decoration: none;
    list-style-type: none;
}

h1, h2, h3, a {
    font-family: 'Montserrat',sans-serif;

}

body {
    background-color: #f8f8fbb1;
}

/*========== CONTAINER ==============*/
.boxContainer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.box {
    position: relative;
    left: -500px;
    opacity: 0;
}

.active.box {
    opacity: 1;
    left:0;
}

/*============ NAVIGATION ==============*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    box-shadow: 0 1px 0px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    background: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 99;
    transition: all 0.5s ease-out;
}

nav a {
    font-weight: bold;
    color: #008080;
    margin-left: 25px;
}
/**** boxContainer logo ***********/
.boxContainer #logo {
    width: 200px;
}

nav ul {
    margin: 0px 30px;
}

nav ul li {
    display: inline-block;
    padding: 5px;
}

nav ul li a {
    color: #008080;
    font-size: 1.1em;
    font-weight: bold;
}

/*=========== btnToggle =============*/
.btnToggle {
    height: 50px;
    width: 50px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.ligne {
    position: absolute;
    width: 40px;
    height: 4px;
    background-color: #008080;
}

.btnToggle .ligne:nth-child(1) {
    top:15px
}

.btnToggle .ligne:nth-child(2) {
    top:30px
}

/*=========== hero section ============= */
.hero {
    height: 50vh;
    background-color: #e7e7e72a;
}

.hero h1 {
    padding: 50px 25px;
    font-size: 2.5em;
    font-weight: bold;
    color: #008080;
}

.hero p {
    padding: 10px 25px;
    margin-bottom: 50px;
}

.hero a {
    margin-left: 25px;
    padding: 10px 30px;
    border: 1px solid #008080;
    border-radius: 5px 5px;
    color: #008080;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-weight: 700;
}

.hero a:hover {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, 
                         #008080 0%,
                         #012323 100%);
    border-radius: 5px 5px;
    color: #fff;
}

/*============ Mousse Move ============= */
.mousemove {
    height: 50px;
    width: 50px;
    border: 5px solid #008080;
    border-radius: 50%;
    position: absolute;
    padding: 10px 15px;
    transition: all .1s ease-out;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

/*============ Animation ================ */
.btnToggle.active .ligne:nth-child(1) {
    top:15px;
    transform: rotate(45deg);
}

.btnToggle.active .ligne:nth-child(2) {
    top:15px;
    transform: rotate(-45deg);
}

/*======== AboutAs ==============*/
.aboutAs {
    padding: 10px 0;
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.aboutAs h2 {
    padding: 30px 25px;
    font-size: 2em;
    color: #008080;
}

.aboutAs p {
    margin-bottom: 50px;
    margin-left: 25px;
}

.aboutAsContentImg {
    padding: 25px 0;
}

.btnAboutAs {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, 
                         #008080 0%,
                         #012323 100%);
    color: #fff;
    padding: 10px 30px;
    margin-left: 25px;
    border-radius: 5px 5px;
    transition: all 0.5 ease-in-out;
}

.btnAboutAs:hover {
    border: 1px solid #008080;
    border-radius: 5px 5px;
    color: #ffffff;
}

.about_As_Img {
    padding: 50px 10px;
}

img { 
    box-shadow: -28px 0px 54px -32px rgba(0,0,0,0.1);
    border-radius: 25px 25px;
    width: 100%; 
}

/*======== AllServices ==============*/
.allServices {
    padding: 15px 25px;
    text-align: justify;
}

.allServices .cardTitle h2 {
    padding: 15px 0;
    font-size: 2em;
    color: #008080;
}

.card_services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card_services .card_font {
    border: transparent;
    box-shadow: -3px 8px 15px -3px rgba(0,0,0,0.1);
    transition: all 0.5s ease-out;
}

.card_font {
    color: #008080;
    transition: all 0.10s ease-out;
}

.card_font i {
    background-color: #fff;;
    padding: 15px 10px;
    font-size: 2em;
    color: #008080;
}

.card_font:hover {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, 
                         #008080 0%,
                         #012323 100%);
    color: #fff;
    transform: translateY(10px);
}

.card_font h1 {
    padding: 10px 25px;

} 

.card_font p {
    padding: 30px 25px;
    margin-bottom: 20px;
} 

/*============== Teams ===================== */
.Teams h1 {
    padding: 25px 15px;
    font-size: 2em;
    color: #008080;
}

.Teams p {
    padding: 15px 15px; 
}

/*============== Technologies ===================== */
.technologies h1 {
    padding: 25px 15px;
    font-size: 2em;
    color: #008080;
}

.technologies p {
    padding: 15px 15px; 
}

.technologies_groupe {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.items_technologies i {
    color: #008080;
    font-size: 3em;
    box-shadow: -3px 8px 15px -3px rgba(0,0,0,0.1);
    border-radius: 10% 0% 0% 0%;
}

/* ============== Footer ==================== */
.container_footer {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, 
                         #008080 35%,
                         #012323 100%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 25px 15px;
    color: #fff;
}

.container_footer h1 {
    font-size: 1em;
    margin-bottom: 10px;
}

.items_content {
    padding: 18px 0;
}

hr {
    border: 0;
    border-top: 1px solid #f6f6f6;
    margin-bottom: 10px;
}

.items_link {
    padding: 25px 0;
    display: flex;
    justify-content: start;
    gap: 20px;
}

.items_menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #fff;
    padding: 15px 0;
}

.items_menu a {
    color: #fff;
    transition: all 0.60s ease-out;
}

.items_menu a:hover {
    color: #fff;
    border-bottom: 2px solid #fff;
    padding: 5px 0;
    width: 50%;
}

i {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 1.2em;
    padding: 10px;
}

.items_link a {
    display: inline-block;
    justify-content: start;
    height: 40px;
    width: 40px;
    border: 0.5px solid #fff;
    border-radius: 5px 5px;
}

/*============== Contact Form ===================*/
form {
    border: 1px solid #ffffff;
}

.container_form {
    width: 50%;
    margin: auto;
    position: relative;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    top: 90px;
    box-shadow: -3px 8px 15px -3px rgba(0,0,0,0.1);
}   

.container_form label {
    margin-top: 3px;
}

.container_form input[type="text"], [type="email"] {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px 5px;
    outline-color: #00abab;
}

.container_form textarea {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px 5px;
}

.container_form button {
    padding: 20px 50px;
    margin-bottom: 10px;
    color: #fff;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, 
                         rgba(0,128,128,1) 35%,
                         rgba(0,128,128,1) 100%);
    border: 1px solid #f6f6f6;
}


/************ MediaQuery ****************/
@media screen and (max-width: 600px) and (min-width: 350px) {
    
    .boxContainer {
      color: #008080;
    }
    nav a {
        font-weight: bold;
        font-size: 1rem;
        color: #008080;
        margin-left: 25px;
    }

    /****** HERO SECTION ***********/
    .hero {
        height: 50vh;
        margin-bottom: 70px;
    }
    .hero h1 {
        padding: 40px 25px;
        font-size: 1.7em;
        font-weight: bold;
        color: #008080;
    }

    .hero p {
        padding: 10px 25px;
        margin-bottom: 50px;
        font-size: 1em;
    }
    
    .aboutAs {
        padding: 10px 0;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    /************ ALL SERVICES ***********/
    .card_services {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    /************ ALL TECHNOLOGIES *********/
    .technologies_groupe {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }

    /*********** FOOTER *****************/
    .container_footer {
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, 
                             #008080 35%,
                             #012323 100%);
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
        padding: 25px 15px;
        color: #fff;
    }
}