@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@font-face {
	font-family: 'Satoshi';
	src: url(‘./Font/Satoshi-Bold.otf’) format(‘otf’)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    font-size: 1.0em;
    text-decoration: none;
    list-style-type: none;
}

h1, h2, h3, a {
    font-family: 'Montserrat',sans-serif;

}

body {
    background-color: #f8f8fbb1;;
}

/*========== CONTAINER ==============*/
.boxContainer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.box {
    position: relative;
    left: -500px;
    opacity: 0;
}

.active.box {
    opacity: 1;
    left:0;
}

/*============ NAVIGATION ==============*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    box-shadow: 0 1px 0px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    background: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 99;
    transition: all 0.5s ease-out;
}

nav a {
    font-weight: bold;
    color: #008080;
    margin-left: 25px;
}

nav ul {
    margin: 0px 30px;
}

nav ul li {
    display: inline-block;
    padding: 5px;
}

nav ul li a {
    color: #008080;
    font-size: 1.1em;
    font-weight: bold;
}

/*=========== btnToggle =============*/
.btnToggle {
    height: 50px;
    width: 50px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.ligne {
    position: absolute;
    width: 40px;
    height: 4px;
    background-color: #008080;
}

.btnToggle .ligne:nth-child(1) {
    top:15px
}

.btnToggle .ligne:nth-child(2) {
    top:30px
}

/*=========== hero section ============= */
.hero {
    height: 50vh;
    background-color: #e7e7e72a;
}

.hero h1 {
    padding: 60px 25px;
    font-size: 2.5em;
    font-weight: bold;
    color: #008080;
}

.hero p {
    padding: 10px 25px;
    margin-bottom: 50px;
}

.hero a {
    margin-left: 25px;
    padding: 10px 30px;
    border: 1px solid #008080;
    color: #008080;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-weight: 700;
}

.hero a:hover {
    background-color: #008080;
    color: #fff;
}

/*============ Mousse Move ============= */
.mousemove {
    height: 50px;
    width: 50px;
    border: 5px solid #008080;
    border-radius: 50%;
    position: absolute;
    padding: 10px 15px;
    transition: all .1s ease-out;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

/*============ Animation ================ */
.btnToggle.active .ligne:nth-child(1) {
    top:15px;
    transform: rotate(45deg);
}

.btnToggle.active .ligne:nth-child(2) {
    top:15px;
    transform: rotate(-45deg);
}

/*======== AboutAs ==============*/
.aboutAs {
    padding: 10px 0;
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.aboutAs h2 {
    padding: 60px 25px;
    font-size: 2em;
    color: #008080;
}

.aboutAs p {
    margin-bottom: 50px;
    margin-left: 25px;
}

.aboutAsContentImg {
    padding: 25px 0;
}

.btnAboutAs {
    background-color: #008080;
    color: #fff;
    padding: 10px 30px;
    margin-left: 25px;
    transition: all 0.5 ease-in-out;
}

.btnAboutAs:hover {
    background-color:#fff; 
    border: 1px solid #008080;
    color: #008080;
}

.about_As_Img {
    padding: 50px 10px;
}

img { 
    box-shadow: -28px 0px 54px -32px rgba(0,0,0,0.1);
    border-radius: 25px 25px;
    width: 100%; 
}

/*======== AllServices ==============*/
.allServices {
    padding: 10px 25px;
}

.allServices .cardTitle h2 {
    padding: 15px 0;
    font-size: 2em;
    color: #008080;
}

.card_services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card_services .card_font {
    border: transparent;
    box-shadow: -3px 8px 15px -3px rgba(0,0,0,0.1);
    transition: all 0.5s ease-out;
}

.card_font {
    background-color: #fff;;
    color: #008080;
    transition: all 0.10s ease-out;
}

.card_font i {
    padding: 15px 10px;
    font-size: 2em;
}

.card_font:hover {
    background-color: #008080;
    color: #fff;
    transform: translateY(10px);
}

.card_font h1 {
    padding: 10px 10px;

} 

.card_font p {
    padding: 25px 10px;
    margin-bottom: 20px;
} 


